<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Sheharyar Ishfaq. It uses data from API of mapbox and weather stack.</p>
        <img class="portrait" src="/img/me.png">
    </div>
    
    {{>footer}}
</body>

</html>